Repository Eduardo-cremm/task1-API: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["prettier --write"]
}

testando com o npm ci
  .github/workflows/ci.yml
Due: none

testando versao do node
  .github/workflows/ci.yml
Due: none

tirando versoes do node
  .github/workflows/ci.yml
Due: none

arruamdno o yarn
  .github/workflows/ci.yml
Due: none

arrumando identação
  src/index.js
  src/mocks/users.js
  src/users.ts
Due: eslint --fix, prettier --write

buildspec.yml
  buildspec.yml
Due: none

create buildspec.yml
  buildspec.yml
Due: none

manutenção no buildspec.yml
  dist/users.js
  package.json
Due: eslint --fix, prettier --write

invalidation
  buildspec.yml
  dist/users.js
Due: eslint --fix, prettier --write

arrumando a dist
  dist/users.js
Due: eslint --fix, prettier --write

build: alterações buildspec.yml
  buildspec.yml
Due: none

build: deploy
  buildspec.yml
Due: none

buildspec
  buildspec.yml
Due: none

Finalizando buildscpec
  buildspec.yml
Due: none

efactor code for consistency and readability, updating string quotes and formatting across multiple files
  src/controllers/UserController.js
  src/helpers/bodyParser.js
  src/index.js
  src/index.mjs
  src/routes.js
Due: eslint --fix, prettier --write

refactor code for consistency and readability, updating string quotes and formatting across multiple files
  package.json
Due: prettier --write
